# Question 1:
Use Digit dataset and perform the Logistic Regression. Import the dataset from Sklearn

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_digits

In [2]:
digits=load_digits()

In [3]:
print(digits.DESCR)

.. _digits_dataset:

Optical recognition of handwritten digits dataset
--------------------------------------------------

**Data Set Characteristics:**

    :Number of Instances: 5620
    :Number of Attributes: 64
    :Attribute Information: 8x8 image of integer pixels in the range 0..16.
    :Missing Attribute Values: None
    :Creator: E. Alpaydin (alpaydin '@' boun.edu.tr)
    :Date: July; 1998

This is a copy of the test set of the UCI ML hand-written digits datasets
https://archive.ics.uci.edu/ml/datasets/Optical+Recognition+of+Handwritten+Digits

The data set contains images of hand-written digits: 10 classes where
each class refers to a digit.

Preprocessing programs made available by NIST were used to extract
normalized bitmaps of handwritten digits from a preprinted form. From a
total of 43 people, 30 contributed to the training set and different 13
to the test set. 32x32 bitmaps are divided into nonoverlapping blocks of
4x4 and the number of on pixels are counted in each block. This generates
an input matrix of 8x8 where each element is an integer in the range
0..16. This reduces dimensionality and gives invariance to small
distortions.

For info on NIST preprocessing routines, see M. D. Garris, J. L. Blue, G.
T. Candela, D. L. Dimmick, J. Geist, P. J. Grother, S. A. Janet, and C.
L. Wilson, NIST Form-Based Handprint Recognition System, NISTIR 5469,
1994.

.. topic:: References

  - C. Kaynak (1995) Methods of Combining Multiple Classifiers and Their
    Applications to Handwritten Digit Recognition, MSc Thesis, Institute of
    Graduate Studies in Science and Engineering, Bogazici University.
  - E. Alpaydin, C. Kaynak (1998) Cascading Classifiers, Kybernetika.
  - Ken Tang and Ponnuthurai N. Suganthan and Xi Yao and A. Kai Qin.
    Linear dimensionalityreduction using relevance weighted LDA. School of
    Electrical and Electronic Engineering Nanyang Technological University.
    2005.
  - Claudio Gentile. A New Approximate Maximal Margin Classification
    Algorithm. NIPS. 2000.

In [4]:
digits.target_names

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
digits.data

array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  0.,  1., ...,  6.,  0.,  0.],
       [ 0.,  0.,  2., ..., 12.,  0.,  0.],
       [ 0.,  0., 10., ..., 12.,  1.,  0.]])

In [6]:
data=pd.DataFrame(digits.data)

In [7]:
data

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,4.0,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,8.0,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [9]:
xtrain,xtest,ytrain,ytest=train_test_split(digits.data,digits.target,
                                          stratify=digits.target,random_state=42,train_size=0.7)

In [10]:
log_reg=LogisticRegression()

In [11]:
log_reg.fit(xtrain,ytrain)
predict=log_reg.predict(xtest)

/home/yate/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [12]:
predict

array([1, 3, 1, 5, 0, 6, 6, 7, 4, 9, 3, 9, 7, 7, 6, 1, 5, 7, 3, 3, 8, 8,
       5, 5, 4, 4, 9, 3, 2, 3, 6, 0, 2, 0, 4, 6, 1, 8, 5, 5, 2, 3, 1, 3,
       2, 6, 5, 8, 9, 6, 0, 4, 6, 5, 1, 6, 6, 6, 2, 3, 1, 2, 9, 9, 4, 6,
       1, 5, 0, 9, 9, 8, 4, 7, 7, 9, 0, 0, 4, 9, 5, 4, 1, 9, 0, 0, 5, 6,
       5, 7, 3, 5, 3, 1, 5, 9, 2, 3, 9, 7, 4, 0, 0, 9, 2, 7, 3, 1, 4, 9,
       3, 8, 2, 5, 1, 4, 6, 9, 4, 3, 7, 1, 8, 1, 9, 7, 9, 0, 3, 2, 7, 7,
       2, 4, 0, 8, 4, 1, 5, 7, 2, 4, 2, 9, 5, 7, 5, 4, 4, 2, 0, 3, 3, 7,
       2, 5, 1, 5, 1, 0, 6, 7, 7, 3, 2, 3, 1, 0, 7, 3, 0, 7, 4, 9, 2, 5,
       3, 0, 0, 9, 5, 8, 7, 6, 5, 8, 4, 6, 0, 6, 6, 3, 4, 6, 2, 1, 8, 9,
       7, 4, 3, 4, 2, 4, 8, 0, 3, 8, 2, 4, 7, 2, 0, 8, 8, 6, 1, 8, 4, 5,
       1, 0, 2, 8, 4, 2, 0, 1, 6, 8, 6, 5, 8, 3, 1, 9, 0, 4, 6, 2, 9, 6,
       7, 1, 0, 4, 6, 0, 8, 2, 8, 9, 3, 2, 3, 9, 4, 7, 5, 7, 2, 9, 4, 6,
       2, 8, 7, 5, 8, 8, 0, 3, 2, 3, 1, 2, 6, 8, 5, 2, 8, 3, 1, 3, 0, 5,
       3, 1, 7, 2, 0, 1, 0, 9, 7, 9, 2, 3, 5, 3, 0, 2, 9, 1, 6, 1, 9, 5,
       5, 5, 4, 7, 7, 9, 3, 6, 9, 4, 6, 1, 8, 5, 3, 7, 0, 2, 2, 6, 4, 1,
       7, 9, 2, 0, 8, 4, 6, 7, 3, 1, 5, 4, 7, 2, 4, 9, 4, 2, 1, 4, 7, 1,
       7, 2, 9, 2, 6, 7, 3, 7, 3, 2, 9, 9, 5, 8, 9, 4, 1, 7, 9, 4, 8, 8,
       8, 8, 4, 1, 3, 0, 0, 0, 9, 6, 8, 4, 7, 0, 7, 3, 1, 8, 5, 7, 0, 9,
       5, 0, 6, 9, 4, 7, 5, 6, 1, 5, 3, 4, 6, 5, 9, 6, 8, 7, 0, 8, 3, 6,
       5, 0, 3, 2, 3, 5, 6, 4, 5, 2, 8, 6, 4, 1, 8, 6, 6, 2, 5, 8, 8, 9,
       1, 7, 3, 2, 3, 4, 7, 1, 1, 4, 1, 8, 6, 2, 3, 6, 1, 7, 8, 8, 4, 0,
       6, 8, 5, 2, 3, 2, 9, 0, 5, 0, 4, 7, 1, 5, 0, 2, 6, 0, 0, 3, 1, 8,
       6, 7, 4, 6, 5, 0, 1, 8, 3, 5, 9, 9, 5, 7, 8, 3, 8, 7, 3, 8, 6, 5,
       5, 5, 2, 9, 8, 0, 9, 0, 4, 7, 1, 8, 0, 4, 1, 9, 1, 0, 4, 6, 3, 1,
       6, 5, 4, 5, 1, 8, 2, 7, 9, 6, 1, 1])

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
accuracy_score(ytest,predict)

0.9574074074074074

# combine ytest and predict value into a dataframe

In [15]:
combine=pd.DataFrame({"Actuel_value":ytest,
                       "Predict_value":predict})

In [16]:
combine

     Actuel_value  Predict_value
0               1              1
1               3              3
2               1              1
3               5              5
4               0              0
..            ...            ...
535             7              7
536             9              9
537             6              6
538             1              1
539             1              1

[540 rows x 2 columns]

In [17]:
diff=combine[combine['Actuel_value']!=combine['Predict_value']]

In [18]:
len(diff)

23

In [19]:
performance=(len(ytest)-len(diff))/len(ytest)
print(performance)

0.9574074074074074

In [20]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [25]:
accuracy=accuracy_score(ytest,predict)

In [28]:
print(f" Accurancy score : {accuracy}")

 Accurancy score : 0.9574074074074074

In [29]:
from sklearn.metrics import classification_report

In [33]:
#