# Question 1 :
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [27]:
a="username@companyname.com"
def FindCompagnyName(a):
    index=a.find("@")
    for i in a[index+1:]:
        if i ==".":
            break
        else:
            print(i,end="")

In [28]:
FindCompagnyName(a)

companyname

# Question 2 :
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [44]:
string="without,hello,bag,world"
def SortStringComma(String):
    strings=String.split(",")
    strings.sort()
    return ",".join(strings)

In [45]:
SortStringComma(string)

'bag,hello,without,world'

# Question 3:
Create your own Jupyter Notebook for Sets. Reference link:

In [62]:
mySet={"apple", "banana", "cherry","mango","pizza"}
mySet1={"potato","banana","watermelon"}
print(type(mySet))
print(mySet)

mySet2=mySet.union(mySet1)

mySet.update(mySet1)

print(mySet)

print(mySet2)

mySet1.remove("banana")

print(mySet1)

mySet3=mySet2.copy()
print(mySet3)

mySet3.clear()

print(mySet1.issubset(mySet))

mySet4=mySet.intersection(mySet1)

print(mySet4)

<class 'set'>
{'apple', 'cherry', 'mango', 'pizza', 'banana'}
{'apple', 'cherry', 'mango', 'watermelon', 'pizza', 'potato', 'banana'}
{'banana', 'potato', 'apple', 'mango', 'cherry', 'pizza', 'watermelon'}
{'potato', 'watermelon'}
{'banana', 'potato', 'apple', 'mango', 'cherry', 'pizza', 'watermelon'}
True
{'potato', 'watermelon'}

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [92]:
a=(input("enter yours numbers\t"))
a=a.split()

ListNumber=[]

for i in a:
    ListNumber.append(int(i))
    
print("The missed value are/is below: ")
for i in range(ListNumber[0],ListNumber[-1]):
     if i not in ListNumber:
            print(i)

enter yours numbers	0 1 2  4 6 7 8 9
The missed value are/is below:
3
5

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [95]:
def RemoveDuplicate(List):
    Rduplicatelsit=[]
    for i in List:
        if i not in Rduplicatelsit:
            Rduplicatelsit.append(i)
        else:
            pass
    return Rduplicatelsit

In [98]:
mylist=[12,24,35,24,88,120,155,88,120,155]
print(RemoveDuplicate(mylist))
mylist1=[12,24,35,24,26,]
print(RemoveDuplicate(mylist1))

[12, 24, 35, 88, 120, 155]
[12, 24, 35]